@model SearchViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Jobs To Do</h1>

<p>
    <a asp-action="Create">Create a Job</a>
    @if (!Model.ShowAll) { <a asp-action="Index" asp-route-showall="true">Show All</a>}
            else { <a asp-action="Index" asp-route-showall="false">Show Tasks</a>}
       
    
</p>
<div class="col-sm-4">
    <form asp-action="Index" asp-controller="TodoItems" method="get">
        <div class="form-group">
            <div class="row">

                <div class="col-sm-7">
                    <label asp-for="SearchText" class="control-label"></label>
                    <input asp-for="SearchText" class="form-control" />
                </div>
                <div class="col-sm-3">
                    <label asp-for="ShowAll" class="control-label"></label>
                    <input asp-for="ShowAll" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>




        


    </form>
</div>

    <table class="table">
        <thead>

            <tr>
                <th>
                    Crew
                </th>
                <th>
                    Title
                </th>


                <th>
                    Due Date
                </th>
                <th>
                    Remaining Hour
                </th>
                <th>
                    Is Completed?
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Result)
            {
<tr>
    <td>

        @Html.DisplayFor(modelItem => item.Category.Name)


    </td>
    <td>
        @if (item.IsCompleted)
        {<del>@Html.DisplayFor(modelItem => item.Title)</del>}
        @if (!item.IsCompleted)
        {@Html.DisplayFor(modelItem => item.Title)}



    </td>

    <td>
        @Html.DisplayFor(modelItem => item.DueDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RemainingHour)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsCompleted)
    </td>

    <td>
        @if (!item.IsCompleted)
        {

<a asp-action="Complete" asp-route-id="@item.Id" asp-route-showall="Model.ShowAll" onclick="return confirm('Are you sure to complete &quot;@item.Title&quot; task ? You can not change again!')">Complete</a>}


        | <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
    </td>
</tr>}
        </tbody>
    </table>
